asgiref==3.9.1
atomicwrites==1.4.1
attrs==25.3.0
colorama==0.4.6
distlib==0.4.0
Django==5.2.4
django-allauth==65.10.0
django-countries==7.6.1
django-crispy-forms==2.4
filelock==3.18.0
more-itertools==10.7.0
packaging==25.0
platformdirs==4.3.8
pluggy==0.13.1
py==1.11.0
pytest==5.4.1
pytest-django==3.9.0
python-decouple==3.0
python-dotenv==0.12.0
pytz==2025.2
six==1.14.0
sqlparse==0.5.3
static3==0.7.0
typing_extensions==4.14.1
tzdata==2025.2
Unipath==1.0
virtualenv==20.32.0
wcwidth==0.2.13
webencodings==0.5.1
whitenoise==5.0.1
gunicorn
requests
PyJWT
cryptography
stripe
Pillow
crispy-bootstrap4
django-jazzmin
